@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: url("../storage/images/DD_background.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
    color: white;
}

header {
    padding: 15px 30px;
}

h1 {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

h2 {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

main {
    width: 1200px;
    margin: 0 auto;
}

/** Karty */
.cards {
    background-color: #374151c2;
    border-radius: 20px;
}

.cards img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.cards h2 {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.cards p {
    font-size: 14px;
    color: #e2e8f0;
    text-align: center;
    padding: 10px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
}

/** Story */
.story-detail {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
}

.story-detail img {
    width: 60%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    margin: 20px auto;
    display: block;
}

.start-button {
    padding: 15px 30px;
    background-color: #374151;
    cursor: pointer;
    font-size: 16px;
    color: white;
    margin-top: 20px;
    border-radius: 30px;
}
